<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login - Stock Adviser</title>
    <link rel="stylesheet" th:href="@{/css/adv-login.css}"/>
</head>
<body>

    <div class="login-container">
    
    <div th:if="${param.error}">
        <p style="color: red;">Username or Password doesn't match!</p>
    </div>
      
    <div th:if="${param.logout}">
        <p style="color: green;">You have been logged out successfully.</p>
    </div>
    
    <div th:if="${registrationSuccess}">
   		 <p style="color: green;">Registration successful! You can now log in.</p>
	</div>
    
   

        <form class="login-form" action="/adviserHome" method="post">
            <h2>Welcome Stock Adviser</h2>
            <div class="input-group">
                <label for="username">Username</label>
                <input type="text" id="username" name="username" placeholder="Email Please.." required>
            </div>
            <div class="input-group">
                <label for="password">Password</label>
                <input type="password" id="password" name="password" placeholder="Password.." required>
            </div>
            <button type="submit">Login</button>  <a th:href="@{adviser-reg}">Register</a>
            <p>[This Register Option is only for Test User]</p>
            <!--<p class="signup-link">Don't have an account? <a href="signup.html">Sign Up</a></p>-->
        </form>
    </div>

</body>
</html>
